@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body {
    background-color: #363b41;
}

.header {
    display: flex;
    position: relative;
    z-index: 1;
}

img {
    max-width: 100%;
}

.header img:first-of-type {
    position: absolute;
    top: 10%;
    width: 33%;
    display: block;
    left: 32%;
}

.header h1 {
    position: absolute;
    left: 0;
    background: rgba(0, 0, 0, 0.69);
    bottom: 0;
    margin: 0;
    padding: 30px;
    right: 0;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color: #feadf0;
    box-shadow: 0 -1px 5px #fff, 0 0 100px;
}

.bg-primary.pink{
  background-color: rgb(254, 174, 240)!important;
    border: 3px solid #76f8fe;
    z-index: 2;
}
.testimonial {
    position: relative;
    margin-bottom: 36px;
}

.testimonial img {
    width: 100%;
}

.content {
    position: absolute;
    bottom: 0;
    left: 0;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
    padding: 25px;
    right: 0;
}

.content
 h4 {
    border-bottom: 1px solid;
    padding-bottom: 11px;
}

a.navbar-brand img {
    height: 50px;
}
p.card-header.bg-primary.pink {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.container:last-of-type h2 {
    color: #fff;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

h3.card-header {
    color: #fff;
}

.card {
    background: transparent;
    border-color: #78f8fe;
    box-shadow: 0 0 31px 5px #2a9ac5;
    transition: all .3s ease;
}

a.btn.btn-primary {
}

.card:hover {
    box-shadow: 0 0 60px 8px #fff;
}

.container {
    margin-bottom: 50px;
}

.card-body {
    text-align: center;
}

a.btn.btn-primary {
    background-color: #78f8fe;
    color: black;
    margin-top: 23px;
}





@media screen and (max-width:700px){
  .header img:last-of-type {
    object-fit: cover;
}

.header img:first-of-type {
    width: 70%;
    left: 0;
    right: 0;
    margin: auto;
    top: 158px;
}

.testimonial {
    width: 100;
    width: 100%;
}

.content blockquote {
    font-size: .9em;
}

}
